[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#page-title {
    text-align: center;
}

#main-content {
    padding: 20px;
}

.section {
    margin-bottom: 10px;
}

.section-header {
    padding: 5px;
}

.section-header span {
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
}

.copy-button {
    position: relative;
    font-size: 12px;
    top: -2px;
}

.json-field {
    font-family: monospace;
    width: 100%;    
    max-height: 250px;
    outline: none;
    overflow: auto;
    margin: 0;
}

textarea.json-field {
    padding: 5px;
    resize: none;
    height: 100px;
}

#formatted-json.json-field {
    cursor: pointer;
    height: 116px;
}

.table-preview {
    overflow: auto;
    padding: 10px 0;
    width: 100%;
    max-height: 500px;
}

.table-preview table {
    border-collapse: collapse;
}

#markdown-preview {
    max-height: 150px;
}

.table-preview th,
td {
    border: 1px solid black;
    padding: 10px;
}

pre {
	margin: 0;
}

#error-message {
    background: #eabbbb;
    padding: 10px;
    color: #b90000;
    border-radius: 6px;
    margin-bottom: 10px;
}